@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NIXGONM-Vb', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}
header {
    background-color: #FFFFFF;
    color: #413E3E;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}
main {
    padding: 0 50px;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}
h1, h2 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
h3 {
    margin-top: 0;
    color: #413E3E;
    font-weight: 500
}
ul {
    list-style-type: none;
    padding: 0;
    /* margin-top: 100px; */
}
li {
    margin-bottom: 10px;
}
.about-me-link {
    position: absolute;
    top:40px;
    right: 60px;
    color: #413E3E;
    text-decoration: none;
}
.profile-image {
    float: right;
    margin-left: 20px;
    width: 200px;
    height: auto;
}
.post {
    margin-bottom: 20px;
    display: flex;
}
.post-title {
    color: red;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.post-description {
    font-size: 16px;
    color: #666;
}
.post-image {
    margin-left: 20px;
    /* width: 200px;
    height: auto; */
    width: auto;
    height: 200px
}
.date {
    /* position: absolute; */
    top: 110px;
    font-size: 15px;
    color: #888;
    font-style: italic;
}
.bold-light {
    font-weight: 300;
}
.bold-regular {
    font-weight: 400;
}
.bold-medium {
    font-weight: 500;
}
.bold-semi-bold {
    font-weight: 600;
}
.bold-bold {
    font-weight: 700;
}
.bold-extra-bold {
    font-weight: 1000;
}
